.texts {
  font-family: sans-serif;
  text-align: center;
}


.dot {
  stroke: #000;
  opacity: 0.8;
  fill: rgb(64, 96, 240)
}

#svgarea {
  margin-top: 20px
}

#tooltip {
  background-color: rgb(219, 144, 248);
  font-family: sans-serif;
  font-size: small;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  opacity: 80%;
  
}